[submodule "vendor/nimbus-build-system"]
	ignore = untracked
	branch = master
	path = vendor/nimbus-build-system
	url = https://github.com/status-im/nimbus-build-system.git
[submodule "vendor/nim-chronicles"]
	path = vendor/nim-chronicles
	url = https://github.com/status-im/nim-chronicles.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-chronos"]
	path = vendor/nim-chronos
	url = https://github.com/status-im/nim-chronos.git
	ignore = untracked
	branch = master
